---
import directus from "../../../lib/directus"
import { readItems } from '@directus/sdk';
const partners = await directus.request(readItems("partners", {
    filter: {
        status: { _eq: "published" },
    },
    fields: ["name", "link", "logo", "logo_dark", "description"],
}))
---

<div class="stagger-container grid grid-cols-1 lg:grid-cols-2 lg:gap-12">
    {partners.map((partner) => (
        <a
            href={ "https://" + partner.link }
            class="stagger-in group flex flex-col lg:mb-8 items-center lg:rounded-3xl lg:border border-zinc-200 dark:border-zinc-800 cursor-pointer lg:hover:bg-zinc-50 lg:dark:hover:bg-black transition-colors"
            target="_blank" rel="noopener"
        >
            <div class="flex flex-col items-center text-center">
                <h2 class="text-3xl font-extrabold mx-6 lg:mt-12 text-urika-blue-800 dark:text-urika-orange-500 text-pretty">{partner.name}</h2>
                <div class="flex flex-grow items-center">
                    <div style="height:150px;width=400px" class="flex items-center justify-center align-middle lg:px-10 border md:border-0 border-zinc-200 dark:border-zinc-800 rounded-xl lg:bg-white/0 lg:dark:bg-white/0 my-4">
                        <img src={`https://admin.urikabioworks.com/assets/${partner.logo}?format=webp`} alt={partner.name} loading="lazy" class={`object-cover fade-in block ${ partner.logo_dark && ("dark:hidden")}`} />
                        { partner.logo_dark && (
                            <img src={`https://admin.urikabioworks.com/assets/${partner.logo_dark}?format=webp`} alt={partner.name} loading="lazy" class="object-cover fade-in hidden dark:block" />
                        )}
                    </div>
                </div>
            </div>
            <div class="lg:px-10 pb-8 mt-auto max-w-2xl">
                <p class="text-lg text-center">{partner.description}</p>
            </div>
            <div class="flex flex-row items-center -mr-8 lg:mb-12">
                <p class="text-2xl text-urika-blue-600 dark:text-urika-blue-500 lg:mb-0 group-hover:text-urika-blue-800 group-hover:dark:text-urika-blue-400 group-hover:underline underline-offset-8">{partner.link}</p>
                <svg class="transition-opacity opacity-0 group-hover:opacity-100 ml-2 w-6 h-6 fill-urika-orange-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M48.7,2H29.6C28.8,2,28,2.5,28,3.3v3C28,7.1,28.7,8,29.6,8h7.9c0.9,0,1.4,1,0.7,1.6l-17,17 c-0.6,0.6-0.6,1.5,0,2.1l2.1,2.1c0.6,0.6,1.5,0.6,2.1,0l17-17c0.6-0.6,1.6-0.2,1.6,0.7v7.9c0,0.8,0.8,1.7,1.6,1.7h2.9 c0.8,0,1.5-0.9,1.5-1.7v-19C50,2.5,49.5,2,48.7,2z"></path> <path d="M36.3,25.5L32.9,29c-0.6,0.6-0.9,1.3-0.9,2.1v11.4c0,0.8-0.7,1.5-1.5,1.5h-21C8.7,44,8,43.3,8,42.5v-21 C8,20.7,8.7,20,9.5,20H21c0.8,0,1.6-0.3,2.1-0.9l3.4-3.4c0.6-0.6,0.2-1.7-0.7-1.7H6c-2.2,0-4,1.8-4,4v28c0,2.2,1.8,4,4,4h28 c2.2,0,4-1.8,4-4V26.2C38,25.3,36.9,24.9,36.3,25.5z"></path> </g> </g></svg>
            </div>
        </a>
        <hr class="w-2/3 border-zinc-200 dark:border-zinc-800 lg:hidden mx-auto my-12" />
    ))}
</div>

<script is:inline type="module" data-astro-rerun>
    import { animate, inView, stagger } from "https://cdn.jsdelivr.net/npm/motion@latest/+esm"
    inView(".stagger-container", ({ target }) => {
        animate(".stagger-in",
         	{ opacity: [0, 1], y: [20, 0] },
      		{ delay: stagger(0.3), duration: 0.6},
            { ease: [0.39, 0.24, 0.3, 1] },
        );
    })
</script>
