---
import "../../styles/urika.css"
import BaseLayout from '../../layouts/BaseLayout.astro'
import PublicationsForm from '../../components/PublicationsForm.svelte'
import Header from '../../components/blocks/Header.astro'
import directus from "../../../lib/directus"
import { readItems } from '@directus/sdk';

export async function getStaticPaths() {
    const publications = await directus.request(readItems("publications", {
        filter: {
            status: { _eq: "published" },
        },
        fields: ["title", "permalink", "abstract", "id", "authors"],
    }))
    return publications.map((publication) => ({
        params: { permalink: "/" + publication.permalink },
        props: publication,
    }))
}
const publication = Astro.props
---

<BaseLayout title="URIKA [publication]">
    <Header title="PUBLICATIONS" branded="true" link="/publications" />
    <h1 class="fade-in text-zinc-700 dark:text-zinc-300 font-georgia text-4xl md:text-5xl text-center mt-8 mb-4 font-extrabold">{publication.title}</h1>
    <div class="flex flex-col items-center md:flex-row md:flex-wrap justify-center gap-1 md:gap-4 mb-6">
        {publication.authors.map((author, index) => (
            <div class="inline-flex fade-in text-xl md:text-2xl text-center font-extrabold text-urika-orange-600 dark:text-urika-orange-500">
                <h2>
                    {author.first_name}
                    {author.middle_name && ` ${author.middle_name}`}
                    {` ${author.last_name}`}
                </h2>
                <p class="ml-4 hidden md:block">{index < publication.authors.length - 1 && "•"}</p>
            </div>
        ))}
    </div>
    <div class="flex flex-col lg:flex-row gap-10">
        <div class="flex flex-col">
            <h3 class="fade-in text-4xl md:text-5xl font-extrabold text-center mt-4 text-urika-blue-800 dark:text-urika-blue-600">ABSTRACT</h3>
            <div class="fade-in mt-4 *:indent-16 text-justify text-base md:text-xl font-georgia">
                <Fragment set:html={publication.abstract} />
            </div>
        </div>
        <div class="lg:mt-12">
            <PublicationsForm publication_id={publication.id} client:load />
        </div>
    </div>
</BaseLayout>
