---
import { ClientRouter } from 'astro:transitions';
const { title, description, logo, social_image } = Astro.props
---

<head>
	<meta charset="utf-8" />
	<meta name="google-site-verification" content="YglHlPc9e6rmQa4E5MpDQ5i7DNsEygiJFXREY3sOcfQ" />
	<link rel="icon" type="image/svg+xml" href={"https://admin.urikabioworks.com/assets/" + logo} />
    <link rel="sitemap" href="/sitemap-index.xml" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<meta name="generator" content={Astro.generator} />
	<meta name="theme-color" content="" id="meta-theme-color" />

	<!-- Primary Meta Tags -->
	<title>{title}</title>
	<meta name="title" content={title} />
	<meta name="description" content={description} />
	<link rel="canonical" href={Astro.url} />
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={"https://admin.urikabioworks.com/assets/" + social_image} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={"https://admin.urikabioworks.com/assets/" + social_image} />

    <script defer data-astro-rerun src="https://analytics.urikabioworks.com/script.js" data-website-id="9120ff87-2d4f-420e-b1ab-fa3ce40db77d"></script>
    <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>
	<noscript>
        <style>
            .fade-up, .fade-up, .fade-left, .fade-right, .stagger-in {
                opacity: 1;
            }
        </style>
    </noscript>
    <ClientRouter fallback="swap" />
</head>
