---
const { menu_items, logo } = Astro.props
function normalizeUrl(url) {
    return url.replace(/\/$/, "");
}
const currentPath = normalizeUrl(Astro.url.pathname);

---

<nav id="navigation" class="fixed top-0 flex items-center px-4 py-2.5 z-50 bg-white/80 w-full  transition-shadow backdrop-blur border-b border-white">
    <button class="menu-btn mobile-only p-4 pl-2 rounded-full outline-none" id="menu-button" aria-label="Menu">
        <span class="menu-btn__burger"></span>
    </button>

    <a href="/" id="upper-logo" class="flex items-center mx-auto opacity-0 transition-opacity duration-500 md:pl-4">
        <img src={`https://admin.urikabioworks.com/assets/${logo}`} alt="URIKA Logo" class="h-8" />
        <span class="text-urika-gray-400 font-urika text-xl font-semibold ml-2">URIKA</span>
    </a>

    <div class="nav-wrapper flex justify-center" id="nav-wrapper" transition:name="menu">
        <div id="main-navigation">
            <ul class="nav-buttons font-touche font-extrabold flex gap-4 text-urika-blue-900 text-md md:-ml-28">
                {menu_items.map((item) => (
                    <li class="hover:bg-urika-orange-400 hover:text-white rounded-full transition">
                        { normalizeUrl(item.permalink) === currentPath ? (
                            <span class="block w-full px-4 py-2 bg-urika-blue-900 rounded-full cursor-default text-white uppercase">{item.title}</span>
                        ) : (
                            <a class="block px-4 py-2 uppercase" href={item.permalink}>{item.title}</a>
                        )}
                    </li>
                ))}
            </ul>
        </div>
        <div id="secondary-navigation" class="mobile-only flex justify-end">
            <img src={`https://admin.urikabioworks.com/assets/${logo}`} alt="URIKA Logo" class="h-12" />
        </div>
    </div>
    <div class="mobile-only pr-16 w-6 h-6 block"></div>

    <div class="overlay mobile-only" id="overlay"></div>
</nav>

<script>
  document.addEventListener('scroll', () => {
    const navigation = document.getElementById('navigation');
    const upperLogo = document.getElementById('upper-logo');
    if (window.scrollY > 0) {
      navigation.classList.add('shadow-md');
      upperLogo.classList.add('opacity-100');
    } else {
      navigation.classList.remove('shadow-md');
      upperLogo.classList.remove('opacity-100');
    }
  });

  document.addEventListener('astro:page-load', () => {
      mountMenuListeners();
  });

  const mountMenuListeners = () => {
    const menuButton = document.getElementById('menu-button');
    const navWrapper = document.getElementById('nav-wrapper');
    const overlay = document.getElementById('overlay');
    let menuOpen = false;

    const openMenu = () => {
      menuOpen = true;
      const { documentElement: html } = document;
      const scrollbarWidth = getScrollbarWidth();
      if (scrollbarWidth) {
        html.style.setProperty('--scrollbar-width', `${scrollbarWidth}px`);
      }
      html.classList.add('menu-is-open');
      menuButton.classList.add('open');
      navWrapper.classList.add('open');
      overlay.style.setProperty('display', 'block');
      setTimeout(() => {
        overlay.classList.add('open');
      }, 10);
    };

    // Get scrollbar width
    const getScrollbarWidth = () => {
      const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;
      return scrollbarWidth;
    };

    const closeMenu = () => {
      menuOpen = false;
      const { documentElement: html } = document;
      html.classList.remove('menu-is-open');
      menuButton.classList.remove('open');
      navWrapper.classList.remove('open');
      overlay.classList.remove('open');
      // set display: none with 300ms delay
      setTimeout(() => {
        overlay.style.setProperty('display', 'none');
      }, 300);
    };

    // Toggle menu with button
    menuButton.addEventListener('click', () => {
      menuOpen ? closeMenu() : openMenu();
    });

    // Close menu when clicking outside
    overlay.addEventListener('click', () => {
      closeMenu();
    });
  }
</script>
