---
import '../styles/urika.css'
import Head from '../components/Head.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const { title, description } = Astro.props
import directus from "../../lib/directus"
import {  readSingleton } from '@directus/sdk';
const global = await directus.request(readSingleton("global", {
    fields: [
        "title", "seo_description", "logo", "social_image",
        {
          main_menu: [
            "title", "permalink", "status"
          ],
        },
    ],
}))
const menu_items = global.main_menu.filter((item) => item.status === "published")
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} description={description} logo={global.logo} social_image={global.social_image} />
	<body class="bg-white dark:bg-zinc-950 font-touche text-urika-gray-600 dark:text-urika-gray-300">
	    <Navigation menu_items={menu_items} logo={global.logo} />
	    <article class="max-w-6xl mx-auto xl:px-0 px-8 w-full pt-20">
            <slot />
        </article>
        <Footer logo={global.logo} />
	</body>

	<script is:inline type="module" data-astro-rerun>
   	    import { animate, inView } from "https://cdn.jsdelivr.net/npm/motion@latest/+esm"
        inView(".fade-up", ({ target }) => {
          animate(target,
          		{ opacity: [0, 1], y: [20, 0] },
        		{ duration: 0.6},
                { ease: [0.25, 0.46, 0.45, 0.94] },
          );
        })
        inView(".fade-in", ({ target }) => {
            animate(target,
          		{ opacity: [0, 1]},
                { delay: 0.1, duration: 0.6},
                { ease: [0.39, 0.24, 0.3, 1] },
            );
        })
        inView(".fade-left", ({ target }) => {
            animate(target,
                { opacity: [0, 1], x: [-15, 0] },
                { duration: 0.9, ease: [0.39, 0.24, 0.3, 1] }
            );
        })
        inView(".fade-right", ({ target }) => {
            animate(target,
                { opacity: [0, 1], x: [15, 0] },
                { duration: 0.9, ease: [0.39, 0.24, 0.3, 1] }
            );
        })
    </script>
</html>
